<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEAK Music-Equalizer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static './css/homestyle.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Seaweed+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aladin&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="root">
        <div class="row">
            <!-- side menu section -->
            <div class="col-lg-3 col-md-4">
                
            
                    <table class="tabs" style="width:100%">

                        <tr>
                            <td class="tab is-active"><a data-switcher data-tab="1">Home</a></td>
                        </tr>
                        <tr>
                            <td class="tab"><a data-switcher data-tab="2">Audio</a></td>
                        </tr>
                        <tr>
                            <td class="tab"><a data-switcher data-tab="3">Gallery</a></td>
                        </tr>
                        <tr>
                            <td class="tab"><a data-switcher data-tab="4">Guide</a></td>
                        </tr>
                        
                        <tr>
                            <td class="Extra_space"></td>
                        </tr>
                        
                    </table>
<!-- //////////////////////////********************************///////////////////////// -->
        <!-- home page section                 -->
            </div>
            <div class="col-lg-9  col-md-8 right-root pages">



                <div class="page is-active" data-page="1">
                    <div class="row ">
                        <div class="col-lg-10"></div>
                        <div class="p-2 col-lg-2 text-center">
                            <a class="Sign_In" href="{% url 'register' %}">Sign In</a>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6">
                            <img class="pl-4 PlayImg" src="{% static './assets/images/icons8-play-button-circled-64.png' %}" alt="play_button">
                            <h6 class=" pl-1 PlayList">PlaList</h6>
                        </div>
                        <div class="col-lg-6 text-center"></div>
                    </div>

                    <div class="row ">
                        <div class="col-lg-7  pt-5 text-center">
                            <p class="List-head-text">Sample play-list for Testing </p>
                        </div>
                        <div class="col-lg-5 "></div>
                    </div>
                    <div class="row ">
                        


                        
                    <!-- music section -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>
    <link href="{% static './css/style.css' %}" rel="stylesheet"/>

        

    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js">
    </script>
    <script src="{% static './js/script.js' %}">
    </script>

<!-- musiq section -->

                        <div class="col-lg-12  pt-5 text-center">

                            <table class="ply-list-item" style="width:100%">
                                
                                <tr>
                                    <th></th>
                                    <th class="pl-5 text-left tbl_plyList">Track</th>
                                    <th class="tbl_plyList">Play</th>
                                    <th class="tbl_plyList">Add To Gallery</th>
                                </tr>
                                    {% for file in  songs_all %}
                                <tr>

                                    <td>{{ file.id }}</td>
                                    <td class="pl-5 text-left ">{{ file.title }}</td>
                                    <td class="p-2 "><audio  src="{{ file.song_file.url }}" controls="controls"></audio></audio</td>

                                    <td class="p-2 "><a href=""><img class="Ply_png" src="{% static './assets/images/icons8-plus-24.png' %}" alt=""></a></td>

                                </tr>
                                {% endfor %}





                            </table>
                            
                        </div>
                        
                    </div>



                    <div class="row ">
                        <div class="col-lg-7"></div>
                        <div class=" pt-5 col-lg-5">
                            <a data-switcher data-tab="2"> <button  class="button_Audio btn btn-outline-dark" > Add New Audio</button></a>
                        </div>
                    </div>



                </div>

<!-- //////////////////////////********************************///////////////////////// -->

        <!-- Audio page section                 -->


                <div class="page" data-page="2">
                    <div class="row">
                        <div class="col-lg-2">  </div>
                        <div class="col-lg-10">
                            <p class="p-5 audio_caption">
                                You Can Add Your favourite Audio
                            </p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-2">

                        </div>
                        <div class="form_border col-lg-8">
                            
                            <form action="/action_page.php">
                                <label for="fname">Name</label>
                                <input type="text" id="fname" name="firstname" placeholder="audio name"><br>
                            
                                <label for="lname">Type</label>
                                <input type="text" id="TypeId" name="lastname" placeholder="eg: mp3">
                            
                                
                                <a  class="Submit" href="#">Submit</a>
                                <a class="btn choose_file" href="#">Choose File</a>
                                
                            </form>

                                <p class="caption_note">Make Sure File is Audio File</p>
                        </div>
                        <div class="col-lg-2">
                            
                        </div>
                    </div>
                </div>

<!-- //////////////////////////********************************///////////////////////// -->
        <!-- Gallery page section                 -->

                <div class="page" data-page="3">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="p-5 col-lg-11">
                            <h4 class="user_name_text">Hello! User Name</h4>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="ply-list-item" style="width:100%">
                                
                                <tr>
                                    <th></th>
                                    <th class="glry_plyList">Track</th>
                                    <th class="glry_plyList">Play</th>
                                    <th class="glry_plyList">Add To Gallery</th>
                                </tr>
                                

                                
                            </table>
                            <hr>
                        </div>
                    </div>
                </div>
<!-- //////////////////////////********************************///////////////////////// -->
        <!-- Guid page section                 -->



                <div class="page" data-page="4">
                    <div class="row">
                        <div class="container">
                            <h6 class="pt-5 Guide_heading">What is PEAK Music-Equalizer</h6>
                            <p class="pt-2 guid_para">
                                PEAK is an amazing, simple and user friendly music equalizer and music visualization tool. you can create your own fantastic video with visual effects by simply creating a user  profile add your favuorite music enjoy with your visual effects. Trust Us you will get an amazing experience and sure you will  enjoy it.
                                Come lets join Us...
                            </p>

                            <h6 class="pt-5 Guide_heading">Features of PEAK</h6>
                            <p class="pt-2 guid_para">
                                <ul>
                                    <li class="guid_para">simple and user friendly.</li>
                                    <li class="guid_para">make a good visualized video and download it your system.</li>
                                    <li class="guid_para">make a playlist for your favuorite music. </li>
                                </ul>
                            </p>

                            <h6 class="pt-5 Guide_heading">How to use PEAK:</h6>
                            <p class="pt-2 guid_para">
                                <ul>
                                    <li class="guid_para">Create a user profile using Sign Up option, if you are first time in PEAK.</li>
                                    <li class="guid_para">Log in  into your profile by applying  credentials.</li>
                                    <li class="guid_para">Add your favourite music from your system and save it. </li>
                                    <li class="guid_para">Click Play option to enjoy the amazing visualizing of your music.. </li>
                                    <li class="guid_para">Click Download option to save the music with visualizing effect to your *system as video format. </li>

                                </ul>
                            </p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <script src="{% static './js//homejs.js' %}"></script>
</body>
</html>