<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peak</title>
    <link rel="stylesheet" href="{% static './css/introstyle.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <style>
        body{
            background-image: url("{% static './images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg' %}");
        }
    </style>
</head>
<body>
    <div class="row">
        <header>PEAK</header>
        <p>PEAK is an amazing, simple and user friendly music equalizer and music 
            <br>visualization tool. you can create your own fantastic video with visual effects by
            <br> simply creating a user  profile add your favuorite music enjoy with your visual
            <br> effects. Trust Us you will get an amazing experience and sure you will  enjoy it.
            <br>
            <br>

            Come lets join Us...</p>

            
                <a  class="Sing_in" href="{% url 'register' %}"><h5>Sign In</h5></a>
                <a  class="get_started" href="{% url 'home' %}"><h5>Get Started</h5></a>
    </div>

</body>
</html>