<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEAK Music-Equalizer</title>
    <link rel="stylesheet" href="style/registerstyle.css">

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEAK Music-Equalizer</title>
    <link rel="stylesheet" href="{% static './css/registerstyle.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body id="body">
    <div class="root">
        <div class="row ">
            <div class="col-md-12 pt-5 pb-5  text-center"></div>
        </div>
        <div class="row  text-center">
            <div class="col-md-2"></div>

            <div class="col-md-8 form_box">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h4 class="pt-5 button_submit">Log In</h4>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-2"></div>
                
                <div class="col-md-8">
                    <input class="input-group p-3 input-style" type="text" placeholder="Name">
                </div>

                
                <div class="col-md-2"></div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-2"></div>
                
                <div class="col-md-8">
                    <input class="input-group p-3 input-style" type="text" placeholder="Password">
                </div>

                
                <div class="col-md-2"></div>
                </div>


                <div class="row pt-5">
                    <div class="col-md-3"></div>
                
                <div class="col-md-6 pb-5">
                    <a class="btn btn-success btn-rgr" href="home.html">Log In</a>

                    <a class="pt-4 text-secondary" href="{% url 'register' %}"><p ></p>or register ?</p></a>

                </div>

                
                <div class="col-md-3"></div>
                </div>

            </div>

            

            <div class="col-md-2"></div>
        </div>
        <div class="col-md-12 pt-5 pb-5  text-center"></div>
    </div>
</body>
</html>